body {
  margin: 0;
  padding: 0;
  font-family: "Fahkwang",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body * {
  box-sizing: border-box;
}

.row{
  width: 100%;
  float: left;
}
.card-col{
  width: 33%;
  float: left;
  padding: 2.5%;
}

.card{
  box-shadow: 0 0 10px black;
  width: 100%;
  height: 300px;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.card *{
  margin: 0;
}

.card img{
  width: 100%;
  height: 190px;
}

.container{
  width: 100%;
}

.card-link{
  width:100%;
  height:100%;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
}

.background{
  width: 100%;
  padding: 50px;
}

.centered-contents{
  text-align: center;
}

.box{
  box-shadow: 0 0 5px black;
  border: 1px solid black;
  text-align: center;
  width: 400px;
  height: 200px;
  padding: 80px;
}

.center-form{
  margin: auto;
  height: 400px;
  width: 700px;
  text-align: center;
  padding-top: 140px;
}

.form-group *{
  font-size: 24px;

}

.form-group input{
  border-radius: 5px;
}
.navbar * {
  font-size: 20px;
}

.navbar .nav-right{
  padding:25px;
  float: right;
  position: relative;
}

.navbar .nav-left{
  padding:25px;
  float: left;
}

.navbar .nav-left, .navbar .nav-right{
  height: 100%;
}

.logout-button{
  border: none;
  width: 120px;
  height: 80px;
  background-color:#8080ff;
  position:absolute;
  left: -10px;
  box-shadow: 0 0 px black;
  top:70px;
}
.nav-button{
  border-radius: 15px;
  border: none;
  background-color: #f2f2f2;
}

button:hover{
  cursor: pointer;
}


.navbar{
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #8080ff;
  color: white;
  box-shadow: 0px 0px 10px black;
}

.half-page-col{
  width:50%;
  float: left;
}

.product-media-area{
  box-sizing: border-box;
  padding: 50px;
}

.product-media{
  width: 100%;
  height: 400px;
}

.product-details{
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  overflow: scroll;
  height: 450px;
  padding: 50px;
  max-width: 100%;
  display: inline-block;
}

.product-details-area{
  padding: 50px;
}

.media {
  width: 100%;
  height: 100%;
}

.images-scroll-bar img{
  display: inline;
}
.images-scroll-bar{
  max-height: 100px;
  background-color: #f2f2f2;
  border-radius: 40px;
  text-align: center;
}

.pagination-button{
  border: none;
  font-size: 30px;
  background-color: inherit;
}

.active-button{
  border-bottom: 1px solid #8080ff;
}

.pagination-button:hover{
  cursor:pointer;
}

.pagination-button:focus{
  outline: none;
}

.images-scroll-bar .scroll-image{
  height: 100%;
}

.scroll-image{
  width: 100px;
  float: left;
}

.sort-bar{
  background-color: #f2f2f2;
  width: 400px;
  height: 60px;
  padding: 10px 10px 0 10px;
}

.sort-button{
  border: none;
  background-color: #8080ff;
  color: white;
  margin-left: 5px;
}

.sort-button-active{
  background-color: blue;
}
.click-div:hover{
  cursor: pointer;
}
.users-list{
  background-color: #f2f2f2;
  z-index: 2;
  position: absolute;
  left:-150px;
  color: black;
  width: 300px;
  height: 200px;
  overflow: scroll;
  box-shadow: 0 0 5px black;
}

.users-list div{
  border-bottom: 1px solid black;
  padding:10px;
}

.navbar-active{
  background-color: #3333cc !important;
}

.theme-button{
  padding: 10px;
  font-size: 20px;
  background-color:#3377ff;
  border-radius: 5px;
  border: none;
}

.form-group{
  font-size: 20px;
}

.form-group input{
  margin: 10px;
  font-size: 20px;

}

.footer{
  background-color:#8080ff;
  width: 100%;
  height: 200px;
  margin-top: 80px;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

@media only screen and (max-width: 700px){
  .card-col{
    padding: 0;
  }

  .background{
    padding: 20px 5px 5px 5px;
  }
}
